main {
  display: block!important;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

.input-area {
  border-radius: 5px;
  background-color: #F2F2F2;
  padding: 20px;
}

.player-search, select {
  box-sizing: border-box;
  display: flex;
  padding: 0px 10px;
  margin: auto;
  width: 60%;
  height: 40px;
  border: 2px solid #000;
  border-radius: 20px;
  outline: none;
  transition: border .3s ease;
}

/* Firefox */
::placeholder {
  opacity: 1;
  padding: 0px 10px;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  padding: 0px 10px;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  padding: 0px 10px;
}

.squad-list {
  background-color: #0491F263;
}

.squad-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.squad-players-details {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  border: 2px solid #004170;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}

.player-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  color: #004170;
}

.player-details .row {
  margin: 0;
  opacity: 1;
  text-align: center;
  transition: opacity .8s ease-in-out;
}

.player-details .row p {
  margin: 0.125em;
}

@media screen and (max-width: 800px) {
  .player-search {
    width: 100%;
  }
}